* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}
body {
  background: white;
  width: 100%;
  /* filter: blur(50%); */
}
/* -----------------------------------nav bar-------------------------- */
nav {
  position: relative;
  top: 0px;
  display: flex;
  /* width: 100vw; */
  padding: 2% 5%;
  justify-content: space-between;
  justify-items: start;
  align-items: center;
  /* border: solid black 2px; */
  background: none;
  /* backdrop-filter: blur(15px); */

  /* overflow: hidden; */
  /* z-index: 999999; */
}
nav img {
  width: 50px;
  padding-top: 3px;
  align-content: start;
}
.nav_links {
  flex: 1;
  text-align: right;
  margin-left: 20%;
  /* gap: 5px; */
}
.nav_links ul li {
  display: inline-block;
  list-style: none;
  padding-right: 17px;
  position: relative;
}
.nav_links ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #fdfdfd;
  cursor: pointer;
}
.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;

  transition: 0.2s;
}
/* .nav_links ul li a:hover {
  color: rgb(13, 13, 14);
} */
.nav_links ul li:hover::after {
  width: 100%;
  text-shadow: 20px 20px black;

  /* color: rgb(132, 5, 250); */
}

/* -----------------------------home page------------------------ */
#home {
  height: 100vh;

  background: radial-gradient(rgba(4, 9, 30, 0.7), rgba(23, 41, 110, 0.7)),
    url("carwimg/WNR-Home-Hero.jpg");
  background-position: center;
  border: dashed black 2px;

  position: relative;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  color: antiquewhite;
  text-shadow: 1px 1px 3px black;
  /* border: dashed #0a0a0a 1px; */
}
.cname {
  display: block;
  margin-top: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 6em;
}
.phrase {
  display: block;
  padding: 10px;
  margin-top: 10px;
  /* margin-left: 100px; */
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  text-align: center;
  width: 50%;
}
.loc {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  /* margin-left: 60px; */
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
}
.loc i {
  color: red;
}
.loc p {
  display: block;
  margin-top: 5px;
}

.cimg img {
  width: 250px;
}
/* -----------------------------Service page------------------------ */
#service {
  height: 90vh;
  /* width: 100%; */
  display: block;
  padding: 3%;
  background: #f4f5f4;
  border: dashed black 2px;
  /* align-content: center; */
}
.sheader {
  display: block;
  text-align: center;
  width: 100%;
  font-size: x-large;
  color: rgb(1, 1, 51);
  /* border: solid 2px#f44336; */
}
.service_flex {
  display: flex;
  margin: 5%;
  justify-content: space-around;
  align-content: center;
}
.service_items {
  display: block;
  cursor: pointer;
  width: 20vw;
  height: 40vh;
  /* background-image: url("carwimg/istockphoto-1394573624-612x612.webp"); */
  border-radius: 5px;
  background-size: cover;

  background-color: rgb(1, 1, 51);
  color: white;
  font-size: 2em;
  /* padding-top: 10%; */
  text-align: center;
  transition: 0.2s;
}
/* .service_items::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.2s;
  color: transparent;
} */
.service_items:hover {
  scale: 1.2;
  color: #f44336;
  font-size: 2.5em;
  /* background-color: white; */
  box-shadow: 0 0 1px 2px #f44336;

  /* box-shadow: 0 3px 3px 0 #f44336, 0 3px 3px 0 #f44336; */
}

/* .service_items:hover::after {
  width: 100%;
  color: black;
  
} */
/* #bw {
  background: url("carwimg/1d2b0ff0299f002052e78f9037b409b4-583636479.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.price_bttn {
  display: flex;
  justify-content: center;
}
#pricebttn {
  display: block;
  width: 13%;
  height: 6vh;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(1, 1, 51);
  cursor: pointer;
}
#pricebttn:hover {
  border: 1px solid rgb(1, 1, 51);
  background: #f44336;
  transition: 0.4s;
}
.price_list {
  display: flex;
  width: 50%;
  flex-direction: column;
  border: solid 2px black;
  background: white;
  border-radius: 15px;
  padding-bottom: 2%;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  z-index: 10;
}
.price_list.active {
  transform: translate(-50%, -50%) scale(1);
}
.pflex {
  display: flex;
  padding: 1%;
  width: auto;
  /* border: solid 2px #14c38e; */
  justify-content: space-between;
  align-items: center;
}
.pflex h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  padding-left: 10%;
  align-self: flex-start;
  margin-top: 2%;
}
.pflex #xclose {
  align-self: flex-end;
  padding-right: 2%;
  cursor: pointer;
}
.pricetitle {
  margin-top: 3%;
}
.priceclose {
  margin-right: 5%;
  background: white;
  border: none;
  /* margin-top: 3%; */
}
.pricelist {
  display: grid;
  padding-top: 5%;
  width: auto;
  height: 60%;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  /* border: solid 2px black; */
  row-gap: 0;
}

.tbtb {
  background: rgb(10, 10, 10);
  /* border: solid 29x black; */
}
.tbtb td {
  padding: 10px;
  text-align: center;
  /* background: #fdfdfd; */
}
#tbhead {
  background: rgb(43, 42, 42);
  color: white;
}
.vtype {
  background: gray;
}
.sprice {
  background: #fdfdfd;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(112, 109, 109, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* -----------------------------review page------------------------ */

#reviews {
  height: 110vh;
  /* width: 100%; */
  color: white;
  padding-top: 3%;
  background: rgb(1, 1, 51);

  text-align: center;
}
.inner {
  overflow: hidden;
  padding: 5px;
}
.inner h1 {
  font-size: 2em;
}
.border {
  display: block;
  width: 150px;
  height: 5px;
  border-radius: 15px;
  background: #14c38e;
  margin: 10px auto;
}
.counters {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  gap: 10%;
}
.spa {
  padding-left: 10px;
}
.count {
  font-size: 2em;
}
.count::after {
  content: "+";
  font-size: 0.5;
  padding-left: 10px;
}
/* .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
} */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  flex-direction: row;
  justify-content: center;
}

.col {
  flex: 22.22%;
  max-width: 30%;

  box-sizing: border-box;
  padding: 10px;
}
.rev {
  background: whitesmoke;
  color: rgb(1, 1, 51);
  padding: 30px;
  border-radius: 20px;
}
.rev i {
  color: goldenrod;
}
#reviews img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px rgb(1, 1, 51);
}
.name {
  font-size: medium;
  text-transform: uppercase;
  margin: 10px 0;
}
.stars {
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
/* -----------------------------contact page------------------------ */
#contact {
  height: 100vh;

  padding-top: 2%;
  padding-left: 1%;
  color: rgb(1, 1, 51);
  border: dashed black 2px;
}
.conhead {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
#no1 {
  font-size: 3em;
  text-align: center;
}
.containner {
  display: flex;
  margin-top: 3%;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 50px;
}
.conloc {
  font-size: larger;
}
.map {
  display: block;
  left: 0;
  border: solid black 2px;
  margin-top: 20px;
}
.coninfo {
  display: block;
  width: fit-content;
  font-size: large;
  /* width: 150px; */
  height: 150px;
}
#no2 {
  font-weight: bold;
}
.cinfo {
  color: black;
  display: flex;
  /* border: solid 2px #f44336; */
  justify-content: space-evenly;
  flex-direction: row;
  width: 170px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 150px;
  text-align: center;
  column-gap: 10px;
}
.cinfo label {
  flex: 1;
  padding-top: 20px;
}
.phno {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}
.map iframe:hover {
  box-shadow: 0 0 5px 5px #f44336;
  scale: 1.02;
  /* border: solid 2px white; */
}
